@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
:root {
  --base-clr: #020817;
  --line-clr: #42434a;
  --componente-base-clr: #0b1322;
  --componente-border-clr: #1F2937;
  --secondary-componente-base-clr: #111827;
  --secondary-componente-border-clr: #1f2730;
  --secondary-line-clr: #858585;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --primary-element: #3198ff;
}
*/

.logo-gym {
  width: 70px;
  height: 70px;
  object-fit: contain;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100vh;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

main {
  padding: min(10px, 7%);
  overflow-x: hidden;
  flex-grow: 1;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

main p {
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(2em, 8%);
}

.container h2,
.container p {
  margin-top: 1em;
}


/* Cards */
.card {
  background-color: var(--componente-base-clr);
  color: var(--text-clr);
  /* #E5E7EB;*/
  border: 1px solid var(--componente-border-clr) !important;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
}

.card-body {
  width: 100%;
}

.card-input {
  background-color: var(--secondary-componente-base-clr);
  /*#111827 !important;*/
  border: 1px solid var(--componente-border-clr) !important;
  color: var(--text-clr);

}

.card-input::placeholder {
  color: var(--secondary-text-clr) !important;
}

.card-input:focus {
  border-color: #2563EB;
  outline: none;
  /*box-shadow: 0 0 0 0.2rem rgba(37, 99, 235, .25);*/
  color: var(--text-clr) !important;
  /* #f8fafc;*/
  background-color: var(--secondary-componente-base-clr);
}

/* Títulos principales */
h1,
h2,
h3,
strong,
.card-title {
  color: var(--text-clr);
}

/* Subtítulos o descripciones */
h4,
h5,
h6,
p,
label,
small {
  color: var(--secondary-text-clr);
}

.texto-small-card {
  font-weight: 400;
  font-size: 13px;
}

.icon-input {
  border-right: none !important;
}

.input-left {
  border-left: none !important;
}



/*modal*/
.modal-content {
  background-color: var(--componente-base-clr);
  border: 1px solid var(--componente-border-clr);
  color: var(--text-clr);
}

input,
select,
textarea {
  background-color: var(--secondary-componente-base-clr);
  border: 1px solid var(--componente-border-clr);
  color: var(--text-clr);
}

.form-label {
  color: var(--text-clr) !important;
}




/* Tablas */

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody,
tr,
th,
td {
  white-space: nowrap;
  background-color: var(--secondary-componente-base-clr) !important;
  color: var(--text-clr) !important;
  border: var(--secondary-componente-border-clr) !important;
}

thead {
  border-bottom: 1px solid var(--componente-border-clr) !important;
}


/* dropdowns */
.dropdown-acciones,
.select2-selection,
.select2-results__options,
.select2-selection__choice {
  background-color: var(--secondary-componente-base-clr) !important;
  color: var(--text-clr) !important;
  border: 1px solid var(--componente-border-clr) !important;
}

.dropdown-item-acciones {
  border: none !important;
}

.select2-selection__clear,
.select2-search__field {
  color: var(--text-clr) !important;
}

.dropdown-item-acciones:hover {
  background-color: var(--hover-clr) !important;
}

.pagination {
  justify-content: end;
}


@media (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  aside,
  nav.sidebar {
    grid-column: 1 / -1;
    width: 100%;
  }

  main {
    grid-column: 1 / -1;
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-12,
  .col-md-4,
  .col-sm,
  .col-sm-6 {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 0.75rem;
  }

  .card-title {
    font-size: 1rem;
  }

  main {
    padding: 0.5rem;
  }
}

/* Botones principales */
.btn-primary,
.btn-agregar {
  background-color: var(--primary-element);
  color: var(--base-clr);

}

.btn-primary:hover,
.btn-agregar:hover {
  filter: brightness(1.1);
}

/*
.btn-agregar {
  background: var(--primary-element);
  color: var(--base-clr);
}*/

.btn-secundario {
  background: var(--secondary-element);
  color: var(--text-clr);
  border: 1px solid var(--componente-border-clr) !important;
}

.modal-content {
  background-color: var(--componente-base-clr);
  color: var(--text-clr);
  /* #E5E7EB;*/
  border: 1px solid var(--componente-border-clr) !important;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}


/* estilos para parte cam  (lo puse aca mientras pero se podria poner en otro archivo*/

.badge-exitoso {
  background-color: #3b82f6;
  color: black;
}

.badge-denegado {
  background-color: #4d141a;
  color: white;
}

.search-box input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, .25);
  color: var(--text-clr);
  /* #f8fafc;*/
}

.teacher-card p {
  margin-bottom: 2px !important;
  line-height: 1.1;
}

.teacher-card h5 {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px !important;
}

.teacher-card .badge {
  transform: translateY(-1px);
  font-size: 0.75rem;
  padding: 4px 8px;
}

.vista-membresias table tbody td,
.vista-membresias table thead th {
  vertical-align: middle;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  background-color: var(--componente-base-clr) !important;
  border-bottom: 1px solid var(--componente-border-clr) !important;
  /* #1e293b !important;*/

}

.vista-membresias table th,
.vista-membresias table td {
  white-space: normal !important;
}


.vista-asistencia .tabla-asistencia thead th,
.vista-asistencia .tabla-asistencia tbody td {
  vertical-align: middle;
  padding: 0.9rem;
  background-color: var(--secondary-componente-base-clr);
  border-bottom: 1px solid var(--componente-border-clr);
  color: var(--text-clr);
}





@media (max-width: 576px) {
  .vista-asistencia .tabla-asistencia thead {
    display: none;
  }

  .vista-asistencia .tabla-asistencia,
  .vista-asistencia .tabla-asistencia tbody,
  .vista-asistencia .tabla-asistencia tr,
  .vista-asistencia .tabla-asistencia td {
    display: block;
    width: 100%;
  }

  .vista-asistencia .tabla-asistencia tr {
    margin-bottom: 1rem;
    border: 1px solid var(--componente-border-clr);
    border-radius: 12px;
    background-color: var(--secondary-componente-base-clr);
    padding: 0.8rem;
  }

  .vista-asistencia .tabla-asistencia td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .vista-asistencia .tabla-asistencia td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.75rem;
    width: 45%;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-clr);
    text-align: left;
  }
}

@media (max-width: 768px) {

  #vista-membresias-admin .table thead {
    display: none;
  }

  #vista-membresias-admin .table,
  #vista-membresias-admin .table tbody,
  #vista-membresias-admin .table tr,
  #vista-membresias-admin .table td {
    display: block;
    width: 100%;
  }

  #vista-membresias-admin .table tr {
    margin-bottom: 1rem;
    border: 1px solid var(--componente-border-clr) !important;
    /* #1e293b;*/
    border-radius: 12px;
    background-color: var(--secondary-componente-base-clr);
    padding: 0.8rem;
  }

  #vista-membresias-admin .table td {
    text-align: left;
    padding-left: 40%;
    position: relative;
    border: none !important;
    border-bottom: 1px solid var(--componente-border-clr) !important;
    /*#1e293b !important;*/
    background-color: transparent !important;
  }

  #vista-membresias-admin .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    width: 35%;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-clr);
  }

  #vista-membresias-admin .table td:last-child {
    border-bottom: none !important;
  }
}

/* Si no hay nav (usuario no logueado), centramos todo */
body:not(:has(#sidebar)) main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

#vistaSala table tbody td,
#vistaSala table thead th {
  vertical-align: middle;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  background-color: var(--componente-base-clr) !important;
  border-bottom: 1px solid var(--componente-border-clr) !important;
  /* #1e293b !important;*/

}

#vistaSala table th,
#vistaSala table td {
  white-space: normal !important;
}


.vista-rutinas table tbody td,
.vista-rutinas table thead th {
  vertical-align: middle;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  background-color: var(--componente-base-clr) !important;
  border-bottom: 1px solid #1e293b !important;

}

.vista-rutinas a {
  color: var(--text-clr);
}

.clase-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  font-size: 0.9rem;
  color: var(--primary-element) !important;
  border: 1px solid var(--primary-element);
  background: transparent !important;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 0 !important;

}